<div class="container">
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre mascota</mat-label>
      <input matInput formControlName="name" value="data">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Peso mascota</mat-label>
      <input matInput formControlName="weight">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Especie</mat-label>
      <input matInput formControlName="species">
    </mat-form-field>
  </form>
  <div class="actions">
    <button mat-raised-button mat-dialog-close="" color="warn">Cerrar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="formValue">Guardar</button>
  </div>
</div>

