mat-form-field {
  width: 100%;
}

.schedule {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(50px, 1fr) 40px;
  grid-column-gap: 10px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: space-between;
}

.align-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
